version: "3.8"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - webrtc-signaling
    restart: always

  webrtc-signaling:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: webrtc-signaling-server
    ports:
      - "3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: always
